<h2 class="page-header">Task Details: {{ task.title }}</h2>

<form [formGroup]="form" (ngSubmit)="updateTask()">
  <div class="row">
    <!-- taskTitle -->
    <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('title')">
      <label for="title" class="control-label">Title</label>
      <input type="text" formControlName="title" id="title" class="form-control">

      <div *ngIf="formUtils.showFieldError('title')" class="text-danger">
        <div *ngIf="form.get('title').errors.required">Title is Required</div>
        <div *ngIf="form.get('title').errors.minlength">Title need at least 2 characters</div>
        <div *ngIf="form.get('title').errors.maxlength">Title require on Max 255 characters</div>
      </div>
    </div>

    <!-- Priority -->
    <div class="form-group col-md-3 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('priority')">
      <label for="deadline" class="control-label">Priority</label>
      <input type="text" formControlName="deadline" id="deadline" class="form-control">
    </div>

    <!-- status -->
    <div class="form-group col-md-3 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('status')">
      <label for="done" class="control-label">Status</label>
      <select class="form-control" id="done" formControlName="done">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{ option.text }}</option>
      </select>
      <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('status')"></span>
    </div>
  </div>

  <!-- taskCreatedAt -->
  <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('createdat')">
    <label for="createdat" class="control-label">Created at</label>
    <input type="text" formControlName="createdat" id="createdat" class="form-control">
  </div>

  <!-- taskUpdatedAt -->
  <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('updatedat')">
    <label for="updatedat" class="control-label">Updated at</label>
    <input type="text" formControlName="updatedat" id="updatedat" class="form-control">
  </div>

  <!-- taskResolvedAt -->
  <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('resolvedat')">
    <label for="resolvedat" class="control-label">Resolved at</label>
    <input type="text" formControlName="resolvedat" id="resolvedat" class="form-control">
  </div>

  <!-- taskPostponedAt -->
  <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('postponedat')">
    <label for="postponedat" class="control-label">Postponed At at</label>
    <input type="text" formControlName="postponedat" id="postponedat" class="form-control">
  </div>

  <!-- taskPostponedTime -->
  <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('postponedtime')">
    <label for="postponedtime" class="control-label">Postponed At at</label>
    <input type="text" formControlName="postponedtime" id="postponedtime" class="form-control">
  </div>

  <div class="row">
    <!-- taskDescription -->
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Description</label>
      <textarea formControlName="description" id="description" class="form-control" rows="4"></textarea>
    </div>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-success">Update</button>
  <button class="btn btn-default" type="button" (click)="goBack()">Back</button>

  <pre>{{ form.value | json }}</pre>
</form>
