<h2 class="page-header">Task Details</h2>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/"> < Tasks</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{form.value.uuid}}</li>
  </ol>
</nav>
<form [formGroup]="form" (ngSubmit)="updateTask()">
  <div class="row">
  <!-- taskStatus -->


    <div class="form-group col-md-12">
      <div class="alert" [ngClass]="{'alert-warning' : form.value.status === 'NEW', 'alert-success': form.value.status === 'RESOLVED'}" role="alert">
        {{form.value.status}}
      </div>
    </div>

    <!-- taskDueDate -->
    <div class="form-group col-md-12" >
      <div class="col ml-0 pl-0 pr-0">
        <div class="counter">
          <i class="far fa-calendar-alt fa-2x"></i>
          <h2 class="timer count-title count-number" *ngIf="form.value.duedate" >{{form.value.duedate | timeago:live}}</h2>
          <p class="count-text ">Due date</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">


    <!-- taskTitle -->
    <div class="form-group col-md-12">
      <label for="title" class="control-label">Title</label>
      <input type="text" formControlName="title" id="title" class="form-control">
    </div>

    <!-- taskPriority -->
    <div class="form-group col-md-12">
      <label for="priority" class="control-label">Priority</label>
      <input type="text" formControlName="priority" id="priority" class="form-control">
    </div>

    <!-- taskDescription -->
    <div class="form-group col-md-12">
      <label for="description" class="control-label">Description</label>
      <textarea formControlName="description" id="description" class="form-control" rows="4"></textarea>
    </div>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-success">Update</button>

  <pre>{{ form.value | json }}</pre>
</form>
